
.wrapper {
margin:auto;
width:960px;
}




#page{
background-color:lightblue;
padding:5px;
margin-left:auto;
margin-right:auto;
margin-top:40px;
width:1000px;

}

#header{
background-color:#0099CC;
width:1000px;
margin-bottom:5px;
height:100px;
}

#menu{
width:1000px;
background-color:#CC0000;
margin-bottom:5px;
height:50px;
}

#leftside{
width:200px;
background-color:b5da56;
float:left;
position: right; alignment-adjust
margin-right:5px;
margin-bottom:5px;
}

#content{
width:600px;
background-color:lightblue;
float:left;
margin-right:5px;
margin-bottom:5px;
}

#rightside{
background-color:979ea2;
width:180px;
float:left;
margin-bottom:5px;
padding:5px;
}

#footer{
clear:both;
background-color:#FF6633;
width:990px;
margin-top:5px;
padding:5px;
}


#rightside div{
background-color:b5da56;
width:180px;
margin-bottom:5px;
height:200px;

}













